@font-face {
  font-family: 'iconfont';  /* project id 324914 */
  src: url('//at.alicdn.com/t/font_878y0fpw6dsfw29.eot');
  src: url('//at.alicdn.com/t/font_878y0fpw6dsfw29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_878y0fpw6dsfw29.woff') format('woff'),
  url('//at.alicdn.com/t/font_878y0fpw6dsfw29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_878y0fpw6dsfw29.svg#iconfont') format('svg');
}

.font{
  font-family: "iconfont";
}